.tabs {
  display: flex;
}
.tab {
  justify-content: left;
  align-items: left;
  width: 20%;
  background: e5e5e5;
  padding: 1em 0;
  border: none;
}

.tab.active {
  background-color: #8568ff;
  font-weight: bold;
}
.panel {
  display: none;
  background-color: #8568ff;
  padding: 0 0 0 30px;
  height: 250px;
  text-align: left;
}
.panel.active {
  display: block;
}
