.container {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerPage {
  width: 40%;
  height: 80%;
  box-shadow: #5834e8 0px 5px 15px;
}

.registerForm {
  text-align: left;
  padding: 10px;
}
.input {
  width: 95%;
  height: 20px;
}

.buttonStyle {
  text-align: center;
  width: 95%;
  height: 25px;
  border-radius: 10px;
  background-color: #7656f6;
  color: white;
  font-weight: 800;
  font-size: 14px;
}
