* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  /* full width */
  width: 100%;
  /* Fixed height */
  height: 60px;
  background-color: #8568ff;
  /* flex box */
  display: flex;
  align-items: center;
}

.green-box {
  /* background-color: greenyellow; */
  margin-left: auto;
  margin-right: auto;
  min-width: 20vw;
  max-width: 60vw;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
}

.links-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 35vw;
}

.logo {
  font-size: 24px;
}

.span {
  color: white;
}

.nav-list {
  list-style-type: none;
  display: flex;
  font-size: 14px;
}

.nav-list li {
  padding: 10px;
}

.links {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.links:hover {
  text-decoration: underline;
  background-color: #7656f6;
}

input {
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.red-box {
  /* background-color: red; */
  min-width: 10vw;
}
